body {
    background: radial-gradient(circle, white 8%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    cursor: pointer;
}

.btn-voltar {
    position: fixed; 
    top: 20px;
    left: 20px;
    z-index: 9999;

    background-color: #111214; 
    color: #00ffff;
    border: 1px solid #00ffff;
    padding: 10px 20px;
    border-radius: 5px;

    font-family: 'Inter', sans-serif; 
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-voltar:hover {
    background-color: #00ffff;
    color: #111214;
}